.App {
  text-align: center;
  background: #BFDBF7;
  width: 100%;
  height: 100vh;
}


/* ----------------------------------------------- */

.header {
  width: 100%;
  height: 80px;
  background: #1F5673;
  /* background: radial-gradient(circle, yellow, green); */
  color: white;
  text-align: left;
  padding: 24px 180px;
  box-sizing: border-box;
}

/* ----------------------------------------------- */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.home img {
  width: 250px;
  height: 150px;
  margin-bottom: 40px;
}

.loginContainer {
  width: 500px;
  height: 50vh;
  background: #E8DAB2;
}

.loginContainer h3 {

}


/* ----------------------------------------------- */

.QA {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionHolder {
  width: 70vw;
  height: 30vh;
  background: #E8DAB2;
  margin: 40px;
}

.answersHolder {
  width: 70vw;
  height: 20vw;
  display: flex;
  justify-content: space-between
}

.ansButton {
  width: 300px;
  height: 120px;
  background: #E8DAB2;
}


/* ----------------------------------------------- */

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qHolder {
  width: 60vw;
  height: 16vh;
  background: #E8DAB2;
  margin: 40px;
}

.percentDisplay {
  width: 200px;
  height: 200px;
  background: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.result section {
  width: 50vw;
  min-height: 300px;
  background: #E8DAB2;
}