.App {
  text-align: center;
  background: #BFDBF7;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 80px;
  background: #1F5673;
  /* background: radial-gradient(circle, yellow, green); */
  color: white;
  text-align: left;
  padding: 24px 180px;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.home img {
  width: 250px;
  height: 150px;
  margin-bottom: 40px;
}

.loginContainer {
  width: 500px;
  height: 50vh;
  background: #E8DAB2;
}

.loginContainer h3 {

}

